<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @place.image.url(:medium) %>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <strong>Title:</strong>
                </td>
                <td><%= @place.title %></td>
              </tr>
              <tr>
                <td>
                  <strong>Description:</strong>
                </td>
                <td><%= @place.description %></td>
              </tr>
              <tr>
                <td>
                  <strong>Rating:</strong>
                </td>
                <td><%= @place.rating %></td>
              </tr>

            </tbody>

          </table>

        </div>

      </div>
      <div class="col-md-8">


   <div id="map" class="span12" style="display:block;height:300px"></div>
        <!-- <div id="map" style="height:300px;width:600px"></div> -->

        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <strong>Destination Lat & Long:</strong>
                </td>
                <td><%= @place.latitude %>
                  <%= @place.longitude %></td>
              </tr>
              <tr>
                <td>
                  <strong>Distance and time:</strong>
                </td>
                <td>
                  <div id="output"></div>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>current lat - lng:</strong>
                </td>
                <td>
                  <div id="resultlats"></div>
                  <div id="resultlngs"></div>
                </td>
              </tr>

              <tr>
                <td>
                  <strong>Recommendation:</strong>
                </td>
                <td><%= @place.rating %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-0">
          <h3 class='review_title'>User reviews</h2>
          <% if @reviews.blank? %>
          <h4>No reviews, tell us about it!</h4>
          <%= link_to "Write Review", new_place_review_path(@place), class: "btn btn-warning" %>
        <% else %>
          <% @reviews.each do |review| %>
          <div class="reviews">
            <div class="star-rating" data-score=<%= review.rating %>></div>
            <p><%= review.comment %></p>
            <!-- <p><%= review.user_id %></p> -->

          </div>
          <% end %>
          <% end %>
        </div>

      </div>

    </div>

  </div>
  <div class="panel-footer">
    <%= link_to 'Back', places_path, class: "btn btn-warning" %>
    <%= link_to 'Edit', edit_place_path(@place), class: "btn btn-warning" %>
    <%= link_to 'Write a trip review', new_place_review_path(@place), class: "btn btn-warning" %>
</div>

</div>
<div id="testlat" data-lat="<%= @place.latitude %>"></div>
<div id="testlng" data-lng="<%= @place.longitude %>"></div>

<script></script>
<script>
  var latfromruby = $("#testlat").data("lat");
  var lngfromruby = $("#testlng").data("lng");

  var resultlat = document.getElementById("resultlats");
  var resultlng = document.getElementById("resultlngs");

  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function () {
      return $(this).attr('data-score');
    }
  });

  // Note: This example requires that you consent to location sharing when prompted by your browser. If you see the error "The Geolocation service failed.", it means you probably did not give permission for the browser to locate you.

  function initMap() {
    var bounds = new google.maps.LatLngBounds;
    var markersArray = [];

    var origin1 = {
      lat: 13.7998757,
      lng: 100.3114102
    };
    var destinationB = {
      lat: latfromruby,
      lng: lngfromruby
    };

    var destinationIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=D|FF0000|000000';
    var originIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=O|FFFF00|000000';
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: 55.53,
        lng: 9.4
      },
      zoom: 10
    });
    var geocoder = new google.maps.Geocoder;

    var service = new google.maps.DistanceMatrixService;
    service.getDistanceMatrix({
      origins: [origin1],
      destinations: [destinationB],
      travelMode: google.maps.TravelMode.DRIVING,
      unitSystem: google.maps.UnitSystem.METRIC,
      avoidHighways: false,
      avoidTolls: false
    }, function (response, status) {
      if (status !== google.maps.DistanceMatrixStatus.OK) {
        alert('Error was: ' + status);
      } else {
        var originList = response.originAddresses;
        var destinationList = response.destinationAddresses;
        var outputDiv = document.getElementById('output');
        outputDiv.innerHTML = '';
        deleteMarkers(markersArray);

        var showGeocodedAddressOnMap = function (asDestination) {
          var icon = asDestination
            ? destinationIcon
            : originIcon;
          return function (results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
              map.fitBounds(bounds.extend(results[0].geometry.location));
              markersArray.push(new google.maps.Marker({map: map, position: results[0].geometry.location, icon: icon}));
            } else {
              alert('Geocode was not successful due to: ' + status);
            }
          };
        };

        for (var i = 0; i < originList.length; i++) {
          var results = response.rows[i].elements;
          geocoder.geocode({
            'address': originList[i]
          }, showGeocodedAddressOnMap(false));
          for (var j = 0; j < results.length; j++) {
            geocoder.geocode({
              'address': destinationList[j]
            }, showGeocodedAddressOnMap(true));
            outputDiv.innerHTML += results[j].distance.text + ' in ' + results[j].duration.text + '<br>';
          }
        }
      }
    });
  }

  function deleteMarkers(markersArray) {
    for (var i = 0; i < markersArray.length; i++) {
      markersArray[i].setMap(null);
    }
    markersArray = [];
  }

  if (navigator.geolocation) {
    browserSupportFlag = true;
    navigator.geolocation.getCurrentPosition(function (position) {
      var latLngA = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      resultlat.innerHTML = latLngA.lat();
      resultlng.innerHTML = latLngA.lng();
    }, function () {
      handleNoGeolocation(browserSupportFlag);
    }// Browser doesn't support Geolocation
    );
  } else {
    browserSupportFlag = false;
    handleNoGeolocation(browserSupportFlag);
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcn0b3h1NGv8n7L_fEE0TmjAUCXjBQkfI&libraries=geometry"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcn0b3h1NGv8n7L_fEE0TmjAUCXjBQkfI&libraries=places"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcn0b3h1NGv8n7L_fEE0TmjAUCXjBQkfI&signed_in=true&callback=initMap"></script>
